<!DOCTYPE html>
<html>
<head>
    <title>Watcher</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body ng-app="watcher" ng-controller="MainController">

    <header>
        <h1>Poker Planing</h1>
        <div class="average" ng-show="showed">Average: {{avg}}</div>
    </header>

    <div class="container">
        <button ng-click="show()">Show</button>
        <button ng-click="reset()">Reset</button>
        <div class="disconnected" ng-show="!connected">You are not connected</div>

        <poker-card ng-repeat="(id, user) in users" user="{{user}}" showed="{{showed}}" voted="{{voted}}" ng-show="connected"></poker-card>
    </div>

    <script type="text/javascript" src="http://paulvarache.ninja:4000/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="bower_components/angular-animate/angular-animate.js"></script>
    <script type="text/javascript" src="app/card.directive.js"></script>
    <script type="text/javascript" src="app/main.js"></script>
</body>
</html>